
@using EpiserverPROG17.Models.Pages
@model EpiserverPROG17.Models.Pages.ImagePage

<style>
    image {
        height: 100px;
        width: 100px;
    }
</style>

<div id="image" style="background: url(@Url.ContentUrl(Model.PageImage)) no-repeat center center">
</div>



