
@using EpiserverPROG17.Models.Pages
@model EpiserverPROG17.Models.Pages.ImagePage

<style>
    #image {
        text-align: center;
    }
</style>

<div id="image">
    <img  src="@Url.ContentUrl(Model.PageImage)" height="500" alt="safari">
</div>



